{% extends "djolowin/main.html" %} {% block content %}
{% include 'djolowin/playercard/model/playercard.html' with playercard=auction.card %}

<p>Starting price: {{ auction.starting_price }}</p>
<p>End time: {{ auction.end_time }}</p>
<p>Highest bidder: {{ auction.highest_bidder.username }}</p>
<p>Current Bid: {{ auction.current_bid }}</p>

{% if user.is_authenticated and request.user != auction.owner  %} 
<form method="post" action="{% url 'auction:toggle_watcher' auction.pk %}">
	{% csrf_token %}
	<input type="submit" value="{% if user in auction.watchers.all %}Unsubscribe{% else %}Subscribe{% endif %}">
</form>
{% if request.user != auction.highest_bidder %}
<h2>Bid on this auction</h2>
<form method="post" action="{% url 'auction:auction_detail' auction.pk %}">
	{% csrf_token %} {{ bid_form.as_p }}
	<button class="btn search-btn" type="submit">Place Bid</button>
</form>

{% endif %} {% endif %}
{% endblock %}
