{% extends "djolowin/main.html" %} {% block content %} 
<h3>Auction {{ auction.id }}</h3>
<p id="message"></p>
{% include 'djolowin/playercard/model/playercard.html' with playercard=auction.card %} {% if auction.current_bid %}
<p>Highest bidder: {{ auction.highest_bidder.username }}</p>
<p>Current Bid: {{ auction.current_bid }}</p>
{% else %}
<p>Starting price: {{ auction.starting_price }}</p>
{% endif %}
<p>End time: {{ auction.end_time }}</p>

{% if user.is_authenticated and request.user != auction.owner %}
<div class="my-3">
{% include "djolowin/auction/component/toggle_watcher.html" %}
</div>
<div class="modal-div">
	{% if request.user == auction.highest_bidder %}
	<p class="text-success">You are the highest bidder on this auction.</p>
	{% else %}
	<button
		type="button"
		class="btn search-btn"
		data-bs-toggle="modal"
		data-bs-target="#auctionBidModal-{{ auction.id }}">
		Place a bid
	</button>
	<!-- Modal -->
	{% include "djolowin/auction/modal_form/auction_bid_modal.html" %}
</div>

{% endif %} {% endif %} {% endblock %}
