{% load static %}

<div class="mb-3">
    <form action="#" method="get" class="">
        <div class="form-group mr-2">
            <label for="rarity-filter">Filter by Rarity:</label>
            <select id="rarity-filter" name="rarity" class="form-control">
              <input type= "checkbox" value="">All Rarities</input>
              <input type= "checkbox" value="Common" {% if request.GET.rarity == 'common' %}selected{% endif %}>Common</input >
              <input type= "checkbox" value="Limited" {% if request.GET.rarity == 'limited' %}selected{% endif %}>Limited</input>
              <input type= "checkbox" value="Rare" {% if request.GET.rarity == 'rare' %}selected{% endif %}>Rare</input>
              <input type= "checkbox" value="Super Rare" {% if request.GET.rarity == 'epic' %}selected{% endif %}>Super Rare</input>
              <input type= "checkbox" value="Unique" {% if request.GET.rarity == 'legendary' %}selected{% endif %}>Unique</input>
            </select>
        </div>
        {% if request.GET.rarity %}
            <a href="?">
                <button type="button" class="btn btn-secondary">Clear Filters</button>
            </a>
        {% endif %}
    </form>
</div>
<script src="{% static 'js/search.js' %}"></script>
