{% extends 'djolowin/main.html' %} {% block content %} {% load static %}

{% if bundle.sold_to == request.user %}
<h1>Below are details of the Bundle you purchased: </h1>
<h2>{{ bundle.name }}</h2>
<p>Rarity: {{ bundle.rarity }}</p>
<p>Description: {{ bundle.description }}</p>
<p>Price: {{ bundle.price }}</p>
<p>Date sold: {{ bundle.date_sold }}</p>
<p>Bought by: {{ bundle.sold_to.username }}</p>
<hr />
<h3>Cards</h3>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Position</th>
			<th>Team</th>
			<th>Jersey Number</th>
			<th>Image</th>
			<th>Rarity</th>
		</tr>
	</thead>
	<hr />
	<tbody>
		{% for card in bundle.get_cards_in_bundle %}
		<tr>
			<td>{{ card.player.name }}</td>
			<td>{{ card.player.position }}</td>
			<td>{{ card.player.team }}</td>
			<td>#{{ card.player.jersey_number }}</td>
			<td><img src="{% static 'images/soccer_figure.jpg' %}" alt="{{ card.name }}" width="100" height="100" /></td>
			<td>{{ card.rarity }}</td>
		</tr>
		{% endfor %}
		<!-- add more fields as needed -->
	</tbody>
</table>
{% else %}
<hr />
<h1 class='text-warning'> You are not authorized to view this page. </h1>
<a href="{% url 'base:home' %}">Back to Home</a>
{% endif %}
{% endblock %}
