{% extends "djolowin/main.html" %} {% block content %}
<div class="container">
	<h2>Purchase Bundle: {{ bundle.name }}</h2>
	<hr />
	<div class="row">
		<div class="col-md-6">
			<h4>Bundle Details</h4>
			<p><strong>Name:</strong> {{ bundle.name }}</p>
			<p><strong>Description:</strong> {{ bundle.description }}</p>
			<p><strong>Price:</strong> {{ bundle.price }}</p>
		</div>
		<div class="col-md-6">
			<h4>Wallet Balance</h4>
			<p><strong>Current Balance:</strong> {{ request.user.userwallet.balance }}</p>
		</div>
	</div>
	<hr />
	<h4>Cards Included in the Bundle</h4>
	<ul>
		{% for card in bundle.cards.all %}
		<li>{{ card.player.name }} - {{ card.player.team.name }} - {{card.rarity}} - {{card.index}}</li>
		{% endfor %}
	</ul>
	<hr />
	<form method="post" action="{% url 'bundle:bundle_purchase' bundle_id=bundle.id %}">
		{% csrf_token %}
		<button type="submit" class="btn btn-primary">Purchase Bundle</button>
	</form>
</div>
{% endblock %}
