{% extends "djolowin/main.html" %} 
{% load static %} 
{% block title %} User:{{user.username}}{% endblock %} 
{% load i18n %}
<!-- Your Stuff: Custom user template -->
{%block content%}
<div class="container">
    <hr />
    {% if request.user %}
        <hr />
        <!-- Your Stuff: Custom user template urls -->
        <div class="row">
            <div class="col-md-3">
                <img src="{{ user.profile_img.url }}" alt="{{ user.username }} avatar" class="img-fluid rounded-circle" />
                {% if user.get_short_name %}
                    <p>{{ user.get_short_name }}</p>
                {% endif %}
            </div>
            <div class="col-md-9">
                <h2>{{ user.username }}</h2>
                {% if user.first_name %}
                    <p><strong>First name:</strong> {{ user.first_name }}</p>
                {% endif %} 
                {% if user.last_name %}
                    <p><strong>Last name:</strong> {{ user.last_name }}</p>
                {% endif %}
                <p><strong>Email address:</strong> {{ user.email }}</p>
                <p><strong>Country:</strong> {{ user.country.name }}</p>
                <p><strong>Date registered:</strong> {{ user.date_joined }}</p>
                <a class="btn btn-primary" href="{% url 'account:user-update' %}" role="button">Update My Info</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}