{% extends "djolowin/main.html" %} {% load static %} {% block title %}My Cards {% endblock %}

{% block content %}
<h1 class="text-white">My Cards</h1>
<hr/ class="bg-white">
<div class="container ">
    <div class="form-container mt-0 mb-4">
		<form method="get" id="search-form">
			{{ form.as_p }}
			<button class="btn search-btn" type="submit">Search</button>
		</form>
		{% comment %} <button class="btn btn-danger mt-2" type="button" id="reset-filters">Reset Filters</button> {% endcomment %}
	</div>
	{% if playercards %}
    <div class="row ">
        {% for playercard in playercards %}
		<div class="col-md-4 col-lg-3 mb-3">
            {% include "djolowin/playercard/model/playercard.html" %}
            {% if playercard.for_sale %}
                <p>For sale</p>
                {% else %}
                <p>Not for sale</p>
            {% endif %}
        </div>
        {% empty %}
        <div class="col-12">
            <p>No cards found in your collection. Try adjusting your filters or search.</p>
        </div>
        {% endfor %}
    </div>
	{% endif %}
    {% include "djolowin/pagination.html" with page=page_obj %}
    {% block scripts %}
{% endblock %}
</div>

{% endblock %}
