{% extends "djolowin/main.html" %} {% load static %} {% block title %}My Cards {% endblock %}

{% block content %}
<h1>My Cards</h1>

<div class="container ">
    <div id="searchbox">
    {% include "djolowin/playercard/search/searchform.html" %}

    <form method="get" class="mb-3">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" name="search" value="{{ request.GET.search }}" placeholder="Search by player name">
            </div>
            <div class="col">
                <select name="sort_by" class="form-select">
                    <option value="player__name" {% if request.GET.sort_by == "player__name" %}selected{% endif %}>Player Name</option>
                    <option value="rarity__name" {% if request.GET.sort_by == "rarity__name" %}selected{% endif %}>Rarity</option>
                </select>
            </div>
            <div class="col">
                <select name="order" class="form-select">
                    <option value="asc" {% if request.GET.order == "asc" %}selected{% endif %}>Ascending</option>
                    <option value="desc" {% if request.GET.order == "desc" %}selected{% endif %}>Descending</option>
                </select>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Filter & Sort</button>
            </div>
        </div>
    </form>
    </div>
	{% if playercards %}
    <div class="row ">
        {% for playercard in playercards %}
		<div class="col-md-4 col-lg-3 mb-3">
            {% include "djolowin/playercard/model/playercard.html" %}
        </div>
        {% empty %}
        <div class="col-12">
            <p>No cards found in your collection. Try adjusting your filters or search.</p>
        </div>
        {% endfor %}
    </div>
	{% endif %}
    {% include "djolowin/pagination.html" with page=page_obj %}
    {% block scripts %}
{% endblock %}
</div>

{% endblock %}
