{% extends "djolowin/main.html" %} {% load i18n %} {% block extra_breadcrumbs %}
{% endblock %} {% block content %}
<li class="breadcrumb-item">
	<a href="{% url 'communication:notifications-inbox' %}">{% trans 'Notifications inbox' %}</a>
</li>
<table class="table rounded table-striped " style="background-color: #beebef;">
	{% if notification.sender %}
	<tr>
		<th>{% trans 'Sender' %}</th>
		<td>{{ notification.sender }}</td>
	</tr>
	{% endif %}
	<tr>
		<th>{% trans 'Date received' %}</th>
		<td>{{ notification.date_sent }}</td>
	</tr>
	{% if notification.body %}
	<tr>
		<th>{% trans 'Subject' %}</th>
		<td>{{ notification.subject|safe }}</td>
	</tr>
	<tr>
		<th>{% trans 'Body' %}</th>
		<td>{{ notification.body|safe }}</td>
	</tr>
	{% else %}
	<tr>
		<th>{% trans 'Message' %}</th>
		<th>{{ notification.subject|safe }}</th>
	</tr>
	{% endif %}
</table>
<div class="form-group form-actions">
	<a href="{% url 'communication:notifications-inbox' %}" class="btn secondary-search-btn">
		{% trans 'Return to my Notifications' %}</a
	>
</div>
{% endblock %}
