{% extends "djolowin/main.html" %} {% block content %}
<div class="container mt-5">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-white">Notification Center</h1>
			<form method="post">
				{% csrf_token %}
				<button class="btn secondary-search-btn" type="submit" name="mark_all_as_read">Mark All as Read</button>
			</form>
			<p>{{ unread_count }} unread notifications</p>
			{% if notifications %}
			<div class="list-group mt-4">
				{% for notification in notifications %}
				<a href={% url 'communication:notification-detail' notification.id  %} class="list-group-item">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">{{ notification.subject }}</h5>
						<span class="badge text-dark text-wrap">{{ notification.date_sent|date:"M d, Y h:i A" }}</span>
					</div>
					<h6 class="mb-1">{{ notification.body }}</h6>
					<span class="badge text-black-50">
						{% if notification.date_read %}
						Read
						{% else %}
						Unread
						{% endif %}
					</span>
				</a>
				{% endfor %}
			</div>
			{% else %}
			<p>You have no notifications.</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
