{% extends "djolowin/main.html" %} {% load static %} {% block content %}

<main>
	<div class="container">
		<h1>Welcome <strong>{{ user.username }}</strong></h1>
		{% comment %} {% include "djolowin/base/search_form.html" %} {% endcomment %}
		<div class="">
			<h4>Featured cards on sale</h4>
		</div>
		<div class="section">
			<a class="text-decoration-none" href="{% url 'playercard:playercard-list' %}">
				<h5 class="lightext">See all cards</h5>
			</a>
		</div>
		<div class="row" style="display: flex; justify-content: center; align-items: center">
			{% for playercard in playercards %}
			<div class="col-12 col-sm-6 col-md-4 col-lg-3">{% include "djolowin/playercard/model/playercard.html" %}</div>
			{% empty %}
			<div class="col-12">
				<p>No cards found in your collection. Try adjusting your filters or search.</p>
			</div>
		</div>
		{% endfor %}
	</div>
</main>

{% endblock content %}
